#principal{

    height: 27cm;
    width: 20cm;
    border: 3px solid black;
    margin: auto;
}

#cabecalho{

    width: 20cm;
    height: 4cm;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: black;
    margin: auto;

}

h1{
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.95em;
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: center;
}
th:nth-child(1), td:nth-child(1) {
    width: 20%; 
}

th:nth-child(2), td:nth-child(2) {
    width: 60%; 
}

th:nth-child(3), td:nth-child(3) {
    width: 20%; 
}